<div class="container">
  <h2>Create flashcards</h2>

  <div class="form-group">
    <label for="requestType">Select Request Type</label>
    <select id="requestType" class="form-control" [(ngModel)]="selectedRequestType" (change)="loadRequestForm()">
      <option *ngFor="let type of requestTypes" [value]="type.value">{{ type.label }}</option>
    </select>
  </div>

  <form [formGroup]="flashcardSetRequestForm" (ngSubmit)="createFlashcardSet()">
    <div *ngIf="selectedRequestType !== ''">
      <div class="form-group mt-3">
        <label for="amount">Amount</label>
        <input type="number" id="amount" formControlName="amount" class="form-control" placeholder="Enter amount" />
      </div>

      <div class="form-group mt-3">
        <label for="type">Type</label>
        <select id="type" formControlName="type" class="form-control">
          <option *ngFor="let flashcardType of flashcardTypes" [value]="flashcardType.value">{{ flashcardType.label }}</option>
        </select>
      </div>


      <div *ngIf="selectedRequestType === 'byRange'">
        <div class="form-group mt-3">
          <label for="rangeStart">Range Start</label>
          <select id="rangeStart" formControlName="rangeStart" class="form-control">
            <option *ngFor="let chapter of chapters" [value]="chapter.id">{{ chapter.id }} - {{ chapter.name }}</option>
          </select>
        </div>

        <div class="form-group mt-3">
          <label for="rangeEnd">Range End</label>
          <select id="rangeEnd" formControlName="rangeEnd" class="form-control">
            <option *ngFor="let chapter of chapters" [value]="chapter.id">{{ chapter.id }} - {{ chapter.name }}</option>
          </select>
        </div>

        <div *ngIf="flashcardSetRequestForm.errors?.['rangeInvalid']" class="alert alert-danger">
          Range End must be greater than or equal to Range Start.
        </div>
      </div>


      <div *ngIf="selectedRequestType === 'byIds'">
        <div *ngIf="idList" formArrayName="idList">
          <div *ngFor="let idControl of idList.controls; let i = index" [formGroupName]="i" class="form-group mt-3">
            <label for="id">Chapter ID {{ i + 1 }}</label>
            <select id="id" formControlName="id" class="form-control">
              <option *ngFor="let chapter of chapters" [value]="chapter.id">{{ chapter.id }} - {{ chapter.name }}</option>
            </select>
            <button type="button" class="btn btn-danger mt-2" (click)="removeIdField(i)">Remove</button>
          </div>
        </div>
        <button type="button" class="btn btn-secondary mt-2" (click)="addIdField()">Add ID</button>
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="flashcardSetRequestForm.invalid">Create Flashcard Set</button>
    </div>
  </form>
</div>
