<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Navbar links -->
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/chapters">Chapters</a>
        <a class="nav-link" routerLink="/flashcardsets">Flashcardsets</a>
        <a class="nav-link" routerLink="/create-flashcards">Create Flashcardset</a>
      </div>
  
      <!-- Spacer -->
      <div class="flex-grow-1"></div>
  
      <!-- Login button -->
      <button class="btn btn-outline-primary">Login</button>
    </div>
  </nav>
  